// Custom bootstrap variables must be set or imported *before* bootstrap.

$font-family-sans-serif: Satoshi, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// @import 'bootstrap_custom';

@import 'colors';
@import 'core';
@import 'fonts';
@import 'shadows';
@import 'buttons';
@import 'tokens';
@import "simple_calendar";
@import 'simple_calendar_custom';
@import 'responsive';

:root {
  --wordmark-height: 5vmin;

}

svg {
  // filter: var(--dropshadow-sharp); 
  color: var(--dark);
}

.filtered {
  filter: url(#inset-shadow);
}

.offcanvas.offcanvas-top {
  --bs-offcanvas-height: 100vh;
  height: var(--bs-offcanvas-height);
}

.card {
  border: 0;
  border-radius: var(--bs-border-radius-xxl);
  // box-shadow: var(--shadow-longer-double);
  // box-shadow: var(--shadow-sharp-double);
  box-shadow: var(--shadow-sharp-new);
  transition: all .2s ease-in-out;
}

.card-light {
  background: rgb(247, 253, 249);
  background: linear-gradient(166deg, rgba(255, 255, 255, 1) 0%, rgba(247, 253, 249, 1) 10%, rgba(214, 245, 225, 1) 68%);
}

.card-default {
  background: var(--body-bg); // rgb(247, 253, 249);
  // background: linear-gradient(166deg, var(--extreme) 0%, var(--default-bg-more) 10%, var(--default-bg) 68%);
}

.bg-default {
  background: rgb(247, 253, 249);
  background: linear-gradient(166deg, var(--extreme) 0%, var(--default-bg-more) 10%, var(--default-bg) 68%);
}

.bg-glass {
  // background: inherit;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(5, 21, 10, 0.2);
}

// .bg-glass:before{
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   background: inherit;
//   width: 100%;
//   height: 100%;
//   // box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
//   filter: blur(40px);
// }
.bg-light-gradient {
  background: rgb(247, 253, 249);
  background: linear-gradient(166deg, rgba(255, 255, 255, 1) 0%, rgba(247, 253, 249, 1) 10%, rgba(214, 245, 225, 1) 68%);
}

.bg-success-subtle-gradient {
  background: rgb(247, 253, 249);
  background: linear-gradient(166deg, rgba(255, 255, 255, 1) 0%, var(--success-02) 10%, var(--success-05) 68%);
}

.card-body {
  border-radius: var(--bs-border-radius-xxl);
}

.card-icon {
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: var(--shadow-sharp-double);
  padding: 0.5rem;
  border-radius: 50%;

  // background-color: var(--tertiary);
  svg {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--light);
  }
}

.img-border-radius {
  border-radius: var(--bs-border-radius-xxl);
}

.carousel-row {
  height: 100%;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

footer svg {
  width: 1.5rem;
  height: 1.5rem;
}

// .card-img-bg {
//   position:relative;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   padding: 0;
//   // height:100%;
//   // width:100%;
// }
img,
svg {
  transition: all .2s ease-in-out;
}

.img-carousel {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

// img.hover-effect, svg.hover-effect {
//   /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
//   filter: gray;// blur(1px);
//   /* IE5+ */
//   -webkit-filter: grayscale(1) brightness(0.8);// blur(1px);
//   // transition: all .2s ease-in-out;

// }
// .card {
//   transition: all .2s ease-in-out;
// }
// .card:hover {
//   transform: translateY(-0.3rem);
//   img,
//     svg {
//       filter: none;
//       -webkit-filter: grayscale(0) brightness(1);
//       // -webkit-transform: scale(1.01);
//     }
// }

.splide,
.splide__slide,
.splide__list,
.splide__track {
  // border-radius: var(--bs-border-radius-xxl);
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: .5;
  padding: 0;
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1
}

.wordmark-svg {
  margin: none;
  height: var(--wordmark-height); //1.5rem;
  width: auto;
  filter: var(--dropshadow-sharp);

}

.navbar,
.offcanvas-header {
  box-shadow: var(--shadow-longer-double);
  border-radius: 0 0 var(--bs-border-radius-xxl) var(--bs-border-radius-xxl);
}

.footer-card {
  box-shadow: var(--shadow-longer-double);
  border-radius: var(--bs-border-radius-xxl) var(--bs-border-radius-xxl) 0 0;
}

.list-group-item {
  padding-top: 0; // 2rem;
  padding-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  // border: var(--bs-list-group-border-width) solid var(--dark);
}

.list-group-item-header {
  box-shadow: var(--shadow-sharp-short);

  svg {
    fill: var(--light);
    height: 1.5rem;
    width: 1.5rem;
    filter: var(--dropshadow-sharp);
  }
}

.offcanvas-body a.nav-link {
  box-shadow: var(--shadow-sharp-short);
  border-radius: var(--bs-border-radius-xl);
  padding: 0.5rem 1.5rem;
  margin: 0.25rem 0;
  color: var(--success);
  font-size: 1.25rem;
  font-weight: var(--fw-lead);

  &.active {
    box-shadow: var(--shadow-sharp-short-inset);
    color: var(--dark);
  }
}

// ul.badge-list li { 
//   list-style-image: url(<%= asset_path 'icons/check-badge-s.svg' %>);
//   align-self: start;
//   &::marker {
//     unicode-bidi: isolate;
//     font-variant-numeric: tabular-nums;
//     text-transform: none;
//     text-indent: 0px !important;
//     text-align: middle !important;
//     text-align-last: middle !important;
// }
// } 
// ul.badge-list li {

// }
ul.badge-list {
  // list-style-type: none;
  // margin: 0;
}

ul.badge-list li,
ul.award-list li {
  position: relative;
  margin: 1em 0;
  display: flex;
  align-items: top;
}

ul.badge-list li::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%230F3E1F' xmlns='http://www.w3.org/2000/svg' stroke='none' fill-rule='evenodd' clip-rule='evenodd' stroke-width='2' color='%230F3E1F' width='25' height='25'%3E%3Cpath d='M9.55879 3.6972C10.7552 2.02216 13.2447 2.02216 14.4412 3.6972L14.6317 3.96387C14.8422 4.25867 15.1958 4.41652 15.5558 4.37652L16.4048 4.28218C18.3156 4.06988 19.9301 5.68439 19.7178 7.59513L19.6235 8.44415C19.5835 8.8042 19.7413 9.15774 20.0361 9.36831L20.3028 9.55879C21.9778 10.7552 21.9778 13.2447 20.3028 14.4412L20.0361 14.6317C19.7413 14.8422 19.5835 15.1958 19.6235 15.5558L19.7178 16.4048C19.9301 18.3156 18.3156 19.9301 16.4048 19.7178L15.5558 19.6235C15.1958 19.5835 14.8422 19.7413 14.6317 20.0361L14.4412 20.3028C13.2447 21.9778 10.7553 21.9778 9.55879 20.3028L9.36831 20.0361C9.15774 19.7413 8.8042 19.5835 8.44414 19.6235L7.59513 19.7178C5.68439 19.9301 4.06988 18.3156 4.28218 16.4048L4.37652 15.5558C4.41652 15.1958 4.25867 14.8422 3.96387 14.6317L3.6972 14.4412C2.02216 13.2447 2.02216 10.7553 3.6972 9.55879L3.96387 9.36831C4.25867 9.15774 4.41652 8.8042 4.37652 8.44414L4.28218 7.59513C4.06988 5.68439 5.68439 4.06988 7.59513 4.28218L8.44415 4.37652C8.8042 4.41652 9.15774 4.25867 9.36831 3.96387L9.55879 3.6972ZM15.7071 9.29289C16.0976 9.68342 16.0976 10.3166 15.7071 10.7071L11.8882 14.526C11.3977 15.0166 10.6023 15.0166 10.1118 14.526L8.29289 12.7071C7.90237 12.3166 7.90237 11.6834 8.29289 11.2929C8.68342 10.9024 9.31658 10.9024 9.70711 11.2929L11 12.5858L14.2929 9.29289C14.6834 8.90237 15.3166 8.90237 15.7071 9.29289Z'%3E%3C/path%3E%3C/svg%3E");
  // content: url("data:image/svg+xml, %3Csvg fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L9 12L13 8M19 10C19 15 15 19 10 19C5 19 1 15 1 10C1 5 5 1 10 1C15 1 19 5 19 10Z' stroke='%2396D8A0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  height: 20px;
  width: 20px;
  transform: translatex(-50%);
  // padding:none;
  // margin:none;
}

.badges {

  // padding-top: 0.75rem;
  svg {
    height: 1rem;
    width: 1rem;
    margin-bottom: 0.25rem;
  }
}

.badge {
  box-shadow: var(--shadow-sharp-short);

  svg {
    filter: var(--dropshadow-sharp);
    color: var(--dark);
  }

  // margin-right: 1rem;
}

svg.btn-svg {
  margin-bottom: 0.33rem;
  height: 1.5rem;
  width: 1.5rem;
}

.icon-list {
  div {
    margin: 0.25rem 0;
    font-size: 1rem;
  }

  svg {
    height: 1.66rem;
    width: 1.66rem;
  }
}

.index-list-svg {
  height: 2.5rem;
  width: 2.5rem;
  filter: var(--dropshadow-sharp);
}

.alert {
  // box-shadow: var(--shadow-sharp-double-inner);
}

.inset {
  // box-shadow: var(--shadow-sharp-double-inner);
  box-shadow: var(--shadow-layered-in);
}

img.award {
  width: 40vw;
}

.navbar-token {
  width: 30px;
  height: 30px;
  filter: var(--dropshadow-sharp);
}

// var(--bs-btn-active-border-color)

.banner-badge {
  --banner-badge-width: 80px;
  width: var(--banner-badge-width); //var(--space-2xl-3xl) 10rem
  height: calc(var(--banner-badge-width) / 0.90);
  border-radius: calc(var(--banner-badge-width) * 0.166) calc(var(--banner-badge-width) * 0.166) 50% 50%;
  // box-shadow: var(--shadow-sharp-short);
  box-shadow: var(--shadow-layered);
  border: 4px solid var(--dark);
  border-top: 6px;
  background: var(--success);
  padding-bottom: 10px;

  svg {
    width: calc(var(--banner-badge-width)*0.7);
    height: auto;
    filter: var(--dropshadow-sharp);
    color: var(--light);
  }
}

.alert-icon {
  width: 30px;
  height: 30px;
}

.sketch-highlight {
  position: relative;
  padding: 0 5px;
}

.sketch-highlight:before {
  content: "";
  z-index: -1;
  left: 0em;
  top: 0em;
  border-width: 2px;
  border-style: solid;
  border-color: darkblue;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.5;
  border-radius: 0.25em;
}

.sketch-highlight:after {
  content: "";
  z-index: -1;
  left: 0em;
  top: 0em;
  border-width: 2px;
  border-style: solid;
  border-color: darkblue;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.5;
  border-radius: 0.25em;
}

.realistic-marker-highlight {
  position: relative;
}

.realistic-marker-highlight:before {
  content: "";
  background-color: #ff6db7;
  width: 100%;
  height: 1em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.25em;
  top: 0.1em;
  padding: 0 0.25em;
}

.img-breadcrumb {
  width: 100%;
  height: 200px;
}

.banner-img-outer {
  --banner-padding: 0.33rem;
  padding: var(--banner-padding); //0.5rem;
  margin: var(--banner-padding); //0.5rem;
  background-color: white;
  border-radius: calc(var(--bs-border-radius-xxl) - var(--banner-padding));
  box-shadow: var(--shadow-sharp-double);

  & .banner-img {
    background-image: url(https://res.cloudinary.com/ucubed/image/upload/v1695992830/ucubed/Banner-1740-opt_qxyh3c.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: calc(var(--bs-border-radius-xxl) - (var(--banner-padding) * 2));
    // border-radius:var(--bs-border-radius-xxl);
    padding: 3rem 0;
    box-shadow: var(--shadow-layered-in);

    & .spinning-asset {
      // transform: scale(1.2);
      // animation: move 40s ease;
    }
  }
}