:root, [data-bs-theme="light"] {
 
} 


[data-bs-theme="dark"] {
 
  
} 

.navbar-toggler {
  box-shadow: var(--shadow-sharp-double);
  border-radius: 50%;
  padding: 0;
  border: none;
  
  &:focus {
    box-shadow: none;
  }
  svg {
    height: 25px;
    width: 25px;
    color: var(--success-05);
    // filter: var(--dropshadow-sharp);
  }
}
button.navbar-toggler {
  background-color: var(--lighter);
}

.btn {
  box-shadow: var(--shadow-sharp-double);
  font-weight: var(--fw-heading);
  // text-shadow: var(--shadow-sharp-short);
  svg {
    width: 2rem;
    height: auto;
  }
}
.btn-link {
  color: var(--primary);
}
.icon-badge {
  display: inline-flex;
  box-shadow: var(--shadow-sharp-short);
  border-radius: 1.25rem;
  padding: 0.25rem;
  border: none;
  background: var(--light);
  height: 2rem;
  width: 2rem;
  svg {
    padding:0;
    margin:0;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--success);
    // filter: var(--dropshadow-sharp);
  }
}

.menu-buttons {
  a {
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    small {
      text-transform: uppercase;
      font-size: 0.75rem;
    }
  }
  svg {
    // margin-bottom:0.25rem;
    height: 1.5rem;
    width: 1.5rem;
    // filter: var(--dropshadow-sharp);
  }
}
.contact-buttons {
  // width: 100%;
  a {
    // width: 30%;
    display:flex;
    align-items: center;
    
    // flex-direction: column;
    small {
      text-transform: uppercase;
      font-size: 0.75rem;
    }
  }
  svg {
    // margin-bottom:0.25rem;
    height: 2rem;
    width: 2rem;
    // filter: var(--dropshadow-sharp);
  }
}
.menu-buttons-lg {
  a {
    display:flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    // animation: sparkle;
    &.active {
      box-shadow: var(--shadow-sharp-double-inner);
      border: none;
    }
  }
  svg {
    // margin-bottom:0.25rem;
    height: 2.5rem;
    width: 2.5rem;
    // filter: var(--dropshadow-sharp);
  }
}
.menu-buttons-lg {
  // background: var(--danger-pale-2);
  z-index: 0;
}
.menu-buttons-lg:after {
  content:'';
  top:0;
	position: absolute;
	z-index:2000;
  // background: linear-gradient(166deg, var(--danger-pale-2) 0%, var(--danger-pale-1) 10%, var(--danger-pale-2) 20%);
  // background: linear-gradient(166deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,var(--danger-pale-2) 99%,var(--danger-pale-2) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
  animation: slide 3s infinite;
  transform:translateX(100%);
}

@keyframes sparkle {
	0% {transform:translateX(-50%);}
	100% {transform:translateX(50%);}
}
@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

.btn-success {
  background-color: var(--success);
}
.border-success {
  border-color: var(--success);
}
.btn-outline-success {
  border-color: var(--success);
  svg {
    color: var(--primary);
  }
      &:hover svg {
      color: var(--dark);
    }
}
.btn-outline-primary {
  border-color: var(--primary);
  svg {
    color: var(--primary);
  }
      &:hover svg {
      color: var(--dark);
    }
}
.btn-outline-danger {
  border-color: var(--danger);
  svg {
    color: var(--danger);
  }
      &:hover svg {
      color: var(--dark);
    }
}
.btn-outline-warning {
  border-color: var(--warning);
  svg {
    color: var(--warning);
  }
      &:hover svg {
      color: var(--dark);
    }
}
.btn-primary {
  background-color: var(--primary);
  color: var(--light);
}
.btn-secondary {
  background-color: var(--secondary);
  color: var(--light);
}

.btn-tertiary {
  background-color: var(--tertiary);
  color: var(--light);
}
.btn-outline-tertiary {
  // background-color: var(--tertiary);
  color: var(--tertiary);
  border-color: var(--tertiary);
}
.btn-info {
  background-color: var(--info);
  color: var(--light);
}
.btn-outline-info {
  
  color: var(--dark);
}
.btn-warning {
  background-color: var(--warning);
  color: var(--light);
}
.btn-danger {
  background-color: var(--danger);
  color: var(--light);
}

.btn-primary {

}

.nav-link svg {
  width: 20px;height:auto;
}
svg.contact-btn-svg {
  width:1.5rem;
  height:1.5rem;
  margin-right:0.5rem;
  color: var(--body-color);
}

.btn-sm {
  svg {
    height:1.3rem;
    width:1.3rem;
    margin-bottom: 3px;
  }
}