// Light mode default
:root,
[data-bs-theme="light"] {
  --primary: #3155a8; // hsl(221.85deg, 54.8%, 42.5%
  --primary-rgb: 49, 85, 168;
  --bs-primary-rgb: 49, 85, 168;
  --primary-pale-1: #EBEFF9; //hsl(221.85deg, 54.8%, 95%)
  --primary-pale-2: #D8E0F3; //hsl(221.85deg, 54.8%, 90%)

  --danger: #ff2719; //hsl 3.65deg, 100.0%, 54.9%
  --danger-rgb: 255, 24, 24;
  --danger-pale-1: hsla(3.65deg, 100.0%, 95%, 1);
  --danger-pale-2: hsla(3.65deg, 100.0%, 85%, 1);

  --secondary: #FE347E; //254,52,126 // hsl(338, 99%, 60%)
  --secondary-rgb: 254, 52, 126;
  --secondary-pale-1: hsla(338, 99%, 95%, 1); // #FFE6EF;
  --secondary-pale-2: hsla(338, 99%, 85%, 1); // #FFB3CF;

  --tertiary: #df00ff;
  --tertiary-subtle: #F9CCFF;
  --tertiary-rgb: 223, 0, 255;
  --tertiary-hsl: hsl(292.47deg, 100.0%, 50.0%);
  --tertiary-hsl: hsl(292.47deg, 100.0%, 95.0%);

  --success: #3CD070; //00A86B;//50c878; HSL(141.08deg, 61.2 %, 52.5 %)
  --success-rgb: 60, 208, 112;
  --success-hsl: hsl(141, 61%, 53%); //hsl(141,61,53) //rgb(60, 208, 112)
  --success-02: rgba(var(--success-rgb), 0.2);
  --success-05: rgba(var(--success-rgb), 0.5);

  --info: #77B5FE;
  --info-rgb: 119, 181, 254;
  --info-hsl: hsl(212.44deg, 98.5%, 73.1%);
  --info-subtle-hsl: hsl(213.33deg, 100.0%, 94.7%);

  --warning: #fa7a1e; // hsl(25, 96%, 90%)
  --warning-rgb: 250, 122, 30;
  --warning-emphasis: #fcaf78;
  --warning-pale: #FEE1CD;

  --default-bg: hsl(141, 61, 90);
  --default-bg-more: hsl(141, 61, 95);
  --default-bg-most: hsl(141, 61, 98);
  --extreme: hsl(141, 61, 1);

  --logo-color: var(--success);
  --light: #D6F5E1; // hsl(141,61,90)

  // --light: hsl(140, 52%, 90%); // Rgb	rgb(216, 243, 225) Hex	#d8f3e1
  --light-rgb: 214, 245, 225;
  --default-rgb: 214, 245, 225;
  // --lighter: hsl(140, 52%, 98%); //E0F5E7
  --lighter: #EAFAF0; // hsl(141,61,95)
  --lighter-rgb: 234, 250, 240; //hsl(140, 52%, 98%)  #f7fdf9
  --bg-more-rgb: var(--lighter-rgb);
  // --dark: #205030; //hsl(140, 43%, 22%)
  --dark: #14522A; //hsl(141,61,20) 07170d  141, 61%, 10%
  --dark-rgb: 20, 82, 42;
  // --darker: #102818; // hsl(140, 43%, 11%)
  // --darker: #0C1D11; //hsl(140, 43%, 8%)
  --darker-rgb: 15, 62, 31;
  --darker: #0F3E1F; // 141/61/15
  --darker-2: #0A2915; //141/61/10   0c2615  141°, 52%, 10%
  --darker-3: #05150A; //141/61/5

  --body-text-color: var(--dark);
  --body-text-color-rgb: 20, 82, 42;
  --lead-color: var(--dark);

  // --body-bg: rgb(var(--lighter-rgb));
  --body-bg: var(--light); // #ECFAF1;
  --bs-body-bg: #DCF4E4;
  --body-bg-rgb: 214, 245, 225; //220, 244, 228; //hsl(140, 52%, 91%)
  --bg-alt1: var(--lighter);
  --body-bg-alt: var(--lighter);
  --body-bg-svg: var(--body-bg-svg-light);
  --link-color: var(--info);
  --muted: #555;

  .text-tertiary {
    color: var(--tertiary);
  }
}


//Dark mode colors
[data-bs-theme="dark"] {
  --light: #DCF4E4;
  --lighter: #EEFAF2;

  --bs-body-color: var(--light);
  --bs-heading-color: var(--lighter);
  --body-text-color: var(--light);
  --body-text-color-rgb: 214, 245, 225;
  --bg-alt1: hsl(140, 52%, 12%);
  --body-bg-svg: var(--body-bg-svg-dark);
  --body-color-rgb: #{to-rgb(#08140C)};
  --body-bg: hsl(141, 61%, 10%); // rgb 7, 23, 13 // #07170d
  --body-bg-rgb: 12, 39, 21;
  --bg-more-rgb: var(--darker-rgb);
  --body-bg-alt: #0F3E1F; //var(--dark);
  --lead-color: var(--light);
  --card-border-color: rgba(var(--success-rgb), 0.5);
  --muted: #bbb;

  --default-bg: hsl(141, 61, 10);
  --default-bg-more: #05150a;
  --default-bg-most: hsl(141, 61, 2);
  --extreme: hsl(141, 61, 0);
}

.bg-tertiary-subtle,
.list-group-item.bg-tertiary-subtle {
  background: var(--tertiary-subtle);
}

.text-tertiary-subtle {
  color: var(--tertiary-subtle);
}

.bg-dark {
  background: rgb(15, 62, 31);
  background: linear-gradient(150deg, rgba(20, 82, 42, 1) 0%, rgba(10, 41, 21, 1) 68%);
}

.bg-warning-subtle-gradient {
  background: rgb(254, 225, 205);
  background: linear-gradient(150deg, rgba(254, 225, 205, 1) 0%, rgba(253, 196, 155, 1) 68%);
}

.bg-warning-gradient {
  background: rgb(254, 225, 205);
  background: linear-gradient(150deg, rgba(var(--warning-rgb), 0.5) 0%, rgba(var(--warning-rgb), 1) 68%);
}

.bg-danger-pastel {
  background: var(--danger-pale-1);
  background: linear-gradient(166deg, var(--danger-pale-1) 0%, var(--danger-pale-2) 68%);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.text-bg-event {
  background-color: var(--danger-pale-2);
  color: var(--darker);
}

.bg-gradient-light {
  background: rgb(247, 253, 249);
  background: linear-gradient(150deg, rgba(247, 253, 249, 1) 0%, rgba(214, 245, 225, 1) 68%);
}

.bg-gradient-tertiary {
  background: rgb(255, 230, 239);
  background: linear-gradient(150deg, rgba(255, 230, 239, 1) 0%, rgba(255, 230, 239, 1) 67%);
}

.bg-gradient-info {
  background: rgb(228, 240, 255);
  background: linear-gradient(150deg, rgba(228, 240, 255, 1) 0%, rgba(204, 228, 255, 1) 67%);
}

.bg-gradient-primary {
  background: rgb(235, 239, 249);
  background: linear-gradient(150deg, rgba(235, 239, 249, 1) 0%, rgba(216, 224, 243, 1) 67%);
}

.bg-lighter {
  background: var(--lighter);
}