@import url('https://fonts.cdnfonts.com/css/thegoodmonolith');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&f[]=array@401&display=swap');
@import url(https://fonts.cdnfonts.com/css/conthrax);
// @import url("https://api.fontshare.com/v2/css?f[]=array@700,701,401&f[]=chillax@600&display=swap");
@import url(https://api.fontshare.com/v2/css?f[]=array@700,701,401&f[]=chillax@1&f[]=bevellier@500,700,1&f[]=chubbo@700&display=swap);
@import url(https://fonts.cdnfonts.com/css/girock);
@import url("https://use.typekit.net/vmk4jef.css");
@font-face {
  font-family: 'cudabold';
  src: url('/cuda-bold.woff2') format('woff2'),
       url('/cuda-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
:root {
  // https://www.fluid-type-scale.com/
  --f-h3x: clamp(1.73rem, 0.93vw + 1.5rem, 2.27rem);
  --f-h2x: clamp(2.07rem, 1.11vw + 1.8rem, 2.72rem);
  --f-h1x: clamp(2.49rem, 1.34vw + 2.16rem, 3.27rem);

  --f-xs: clamp(0.694rem, 0vw + 0.694rem, 0.694rem);
  --f-sm: clamp(0.833rem, 0vw + 0.833rem, 0.833rem);
  --f-base: clamp(1rem, 0vw + 1rem, 1.2rem);
  --f-h5: clamp(1.2rem, 0vw + 1.2rem, 1.2rem);
  --f-h4: clamp(1.44rem, 0vw + 1.44rem, 1.44rem);
  --f-h3: clamp(1.728rem, 0vw + 1.728rem, 1.728rem);
  --f-h2: clamp(2.074rem, 0vw + 2.074rem, 2.074rem);
  --f-h1: clamp(2.488rem, 0vw + 2.488rem, 2.488rem);

  --ff-xs: clamp(0.694rem, 0.184vw + 0.649rem, 0.8rem);
  --ff-sm: clamp(0.833rem, 0.29vw + 0.761rem, 1rem);
  --ff-base: clamp(1rem, 0.435vw + 0.891rem, 1.25rem);
  --ff-h5: clamp(1.2rem, 0.63vw + 1.042rem, 1.563rem);
  --ff-h4: clamp(1.44rem, 0.892vw + 1.217rem, 1.953rem);
  --ff-h3: clamp(1.728rem, 1.241vw + 1.418rem, 2.441rem);
  --ff-h2: clamp(2.074rem, 1.701vw + 1.648rem, 3.052rem);
  --ff-h1: clamp(2.488rem, 2vw + 1.912rem, 3.815rem);

  --h1:12vmin;
  --fw-base: 500;
  --fw-lead: 600;
  --fw-heading:600;

  --banner-font:   "magistral-condensed", Chillax,Girock,Bevellier,Array, Satoshi,'Pathway Extreme',system-ui;
  --heading-font:  magistral, Chubbo,Chillax, Satoshi, 'Clash Grotesk', Switzer,  'Pathway Extreme',system-ui;
  --body-font:  magistral, Chillax, Satoshi, 'Clash Grotesk', Switzer,  'Pathway Extreme',system-ui;
  --logo-font:  cudabold, Conthrax,'Futuristic Shore','Victory Comics 3D',system-ui;
  --game-font: Conthrax, "LT Binary Neue Round","Fira Code";
  
}

body {
  background-color: var(--body-bg);
  font-size: var(--ff-base);
  font-weight: var(--fw-base);
  font-family: var(--body-font);
  padding-top: 100px;
  color:var(--body-text-color);
}
h1 {
  font-size: var(--h1);//15vw;//var(--ff-h1);
  line-height: 1;
  text-shadow: var(--shadow-sharp-short);
  font-family: var(--banner-font);
  font-weight: 900;
  color:var(--body-text-color);
  // letter-spacing: 2px;
}
.nav-brand {
  font-family: var(--logo-font);
  color: var(--success);
  text-shadow: var(--shadow-sharp-short);
  margin-bottom:0;
  margin-top:0.5rem;
  font-size: 1.8rem;//var(--wordmark-height);
  letter-spacing: 2px;
}
strong, .strong {
  font-weight: var(--fw-heading);
}

p {
  color: var(--body-text-color);
  font-family: var(--body-font);
  font-size: var(--ff-base);
  font-weight: var(--fw-base);
  line-height: 1.5;
  
}
.game-font {
  font-family: var(--game-font);
}
.fw-heading {
  font-weight: var(--fw-heading);
}
// .h1, .fs-1 {
//   font-weight:900;
//   font-size: var(--ff-h1);
//   font-family:var(--banner-font);
//   // text-shadow: var(--shadow-sharp-double);
// }
h2, .h2, .fs-2 {font-size: var(--ff-h2);}
h3, .h3, .fs-3 {font-size: var(--ff-h3);}
h4, .h4, .fs-4 {font-size: var(--ff-h4);}
h5, .h5, .fs-5 {font-size: var(--ff-h5);}
h6, .h6, .fs-6 {font-size: var(--ff-base);}
.muted {color:var(--muted);}
h2, .h2, .fs-2 ,h3, .h3, .fs-3 ,h4, .h4, .fs-4,h5, .h5, .fs-5,h6, .h6, .fs-6 {
  font-weight:var(--fw-heading);
  text-shadow: var(--shadow-sharp-short);
  line-height:1.3;
  color:var(--body-text-color);
  font-family: var(--heading-font);
}

h2 {
  // text-shadow: var(--shadow-sharp-double);
}
.banner-subheading {
  // color: var(--primary);
}
a {
  color: var(--link-color);
  font-weight: var(--fw-lead);
  text-decoration-style: wavy;
  text-underline-offset: 0.2em;
  cursor: pointer;
  &.blog-title {
    text-decoration: none;
    &:hover {
      h2 {color: var(--success);}
    }
  }
}
.wordmark {
  font-family: var(--logo-font);
  line-height:var(--ff-base);
  opacity:1;
  text-shadow: var(--shadow-sharp-double);
  text-transform: uppercase;
  color: var(--success);
  // &.tiny {
    // line-height:calc(var(--logo-button-height) * 0.22);
}
.text-shadow {
  text-shadow: var(--shadow-sharp-double);
}
.lead {
  font-size: var(--ff-h5);
  color:var(--lead-color);
  font-weight: var(--fw-lead);
  letter-spacing: 1px;
  line-height: var(--lead-lh);//2.2rem;
  text-shadow: var(--shadow-sharp-double);
}
