:root,
[data-bs-theme="light"] {
  --shadow-dark-color-rgb: var(--darker-rgb);
  --shadow-light-color-rgb: var(--lighter-rgb);
  --shadow-layered: 1px 1px 1px rgba(var(--shadow-dark-color-rgb), 0.2),
    2px 2px 2px rgba(var(--shadow-dark-color-rgb), 0.2),
    4px 4px 4px rgba(var(--shadow-dark-color-rgb), 0.2),
    8px 8px 8px rgba(var(--shadow-dark-color-rgb), 0.2),
    16px 16px 16px rgba(var(--shadow-dark-color-rgb), 0.2),
    32px 32px 32px rgba(var(--shadow-dark-color-rgb), 0.2);
  --shadow-dreamy-double: 1px 1px 2px rgba(var(--shadow-dark-color-rgb), 0.07),
    2px 2px 4px rgba(var(--shadow-dark-color-rgb), 0.07),
    4px 4px 8px rgba(var(--shadow-dark-color-rgb), 0.07),
    8px 8px 16px rgba(var(--shadow-dark-color-rgb), 0.07),
    16px 16px 32px rgba(var(--shadow-dark-color-rgb), 0.07),
    32px 32px 64px rgba(var(--shadow-dark-color-rgb), 0.07),
    -1px -1px 2px rgba(var(--shadow-light-color-rgb), 0.01),
    -2px -2px 4px rgba(var(--shadow-light-color-rgb), 0.01),
    -4px -4px 8px rgba(var(--shadow-light-color-rgb), 0.01),
    -8px -8px 16px rgba(var(--shadow-light-color-rgb), 0.01),
    -16px -16px 32px rgba(var(--shadow-light-color-rgb), 0.01),
    -32px -32px 64px rgba(var(--shadow-light-color-rgb), 0.01);
  --shadow-longer-double: 2px 2px 1px rgba(var(--shadow-dark-color-rgb), 0.1),
    4px 4px 2px rgba(var(--shadow-dark-color-rgb), 0.1),
    8px 8px 4px rgba(var(--shadow-dark-color-rgb), 0.1),
    16px 16px 8px rgba(var(--shadow-dark-color-rgb), 0.1),
    32px 32px 16px rgba(var(--shadow-dark-color-rgb), 0.1),
    -2px -2px 1px rgba(var(--shadow-light-color-rgb), 0.03),
    -4px -4px 2px rgba(var(--shadow-light-color-rgb), 0.03),
    -8px -8px 4px rgba(var(--shadow-light-color-rgb), 0.03),
    -16px -16px 8px rgba(var(--shadow-light-color-rgb), 0.03),
    -32px -32px 16px rgba(var(--shadow-light-color-rgb), 0.03);
  --shadow-sharp-double:
    1px 1px 1px rgba(var(--shadow-dark-color-rgb), 0.25),
    2px 2px 2px rgba(var(--shadow-dark-color-rgb), 0.20),
    4px 4px 4px rgba(var(--shadow-dark-color-rgb), 0.15),
    8px 8px 8px rgba(var(--shadow-dark-color-rgb), 0.10),
    16px 16px 16px rgba(var(--shadow-dark-color-rgb), 0.05),
    -1px -1px 1px rgba(var(--shadow-dark-color-rgb), 0.05),
    -2px -2px 2px rgba(var(--shadow-dark-color-rgb), 0.05),
    -4px -4px 4px rgba(var(--shadow-dark-color-rgb), 0.05),
    -8px -8px 8px rgba(var(--shadow-dark-color-rgb), 0.05),
    -16px -16px 16px rgba(var(--shadow-dark-color-rgb), 0.05);
  --shadow-sharp-new:
    1px 1px 1px rgba(var(--shadow-dark-color-rgb), 0.25),
    2px 2px 2px rgba(var(--shadow-dark-color-rgb), 0.20),
    4px 4px 4px rgba(var(--shadow-dark-color-rgb), 0.15),
    8px 8px 8px rgba(var(--shadow-dark-color-rgb), 0.10),
    16px 16px 16px rgba(var(--shadow-dark-color-rgb), 0.05),
    2px 2px 1px rgba(255, 255, 255, 1) inset,
    4px 4px 3px rgba(255, 255, 255, 0.5) inset;
  --shadow-sharp-short:
    0px 0px 0px rgba(var(--shadow-dark-color-rgb), 0.25),
    1px 1px 1px rgba(var(--shadow-dark-color-rgb), 0.2),
    2px 2px 2px rgba(var(--shadow-dark-color-rgb), 0.15),
    3px 3px 3px rgba(var(--shadow-dark-color-rgb), 0.10),
    4px 4px 4px rgba(var(--shadow-dark-color-rgb), 0.05);
  --shadow-sharp-short-inset:
    1px 1px 1px rgba(var(--shadow-dark-color-rgb), 0.25) inset,
    2px 2px 2px rgba(var(--shadow-dark-color-rgb), 0.20) inset,
    4px 4px 4px rgba(var(--shadow-dark-color-rgb), 0.15) inset;
  --dropshadow-sharp: drop-shadow(1px 1px 1px rgba(var(--shadow-dark-color-rgb), 0.25)) drop-shadow(2px 2px 2px rgba(var(--shadow-dark-color-rgb), 0.20)) drop-shadow(4px 4px 4px rgba(var(--shadow-dark-color-rgb), 0.15)) drop-shadow(8px 8px 8px rgba(var(--shadow-dark-color-rgb), 0.10)) drop-shadow(16px 16px 16px rgba(var(--shadow-dark-color-rgb), 0.05));


  --shadow-sharp-double-inner: 1px 1px 1px rgba(var(--shadow-dark-color-rgb), 0.25) inset,
    2px 2px 2px rgba(var(--shadow-dark-color-rgb), 0.20) inset,
    4px 4px 4px rgba(var(--shadow-dark-color-rgb), 0.15) inset,
    8px 8px 8px rgba(var(--shadow-dark-color-rgb), 0.10) inset,
    16px 16px 16px rgba(var(--shadow-dark-color-rgb), 0.05) inset,
    -1px -1px 1px rgba(var(--shadow-light-color-rgb), 0.25) inset,
    -2px -2px 2px rgba(var(--shadow-light-color-rgb), 0.20) inset,
    -4px -4px 4px rgba(var(--shadow-light-color-rgb), 0.15) inset,
    -8px -8px 8px rgba(var(--shadow-light-color-rgb), 0.10) inset,
    -16px -16px 16px rgba(var(--shadow-light-color-rgb), 0.05) inset;
  --shadow-shorter-double-inner: 1px 1px 1px rgba(var(--shadow-dark-color-rgb), 0.11) inset,
    2px 2px 2px rgba(var(--shadow-dark-color-rgb), 0.11) inset,
    4px 4px 4px rgba(var(--shadow-dark-color-rgb), 0.11) inset,
    6px 6px 8px rgba(var(--shadow-dark-color-rgb), 0.11) inset,
    8px 8px 16px rgba(var(--shadow-dark-color-rgb), 0.11) inset,
    -1px -1px 1px rgba(var(--shadow-light-color-rgb), 0.3) inset,
    -2px -2px 2px rgba(var(--shadow-light-color-rgb), 0.3) inset,
    -4px -4px 4px rgba(var(--shadow-light-color-rgb), 0.3) inset,
    -6px -6px 8px rgba(var(--shadow-light-color-rgb), 0.3) inset,
    -8px -8px 16px rgba(var(--shadow-light-color-rgb), 0.3) inset;
  --shadow-layered-in: inset 1px 1px 1px rgba(var(--shadow-dark-color-rgb), 0.11),
    inset 2px 2px 2px rgba(var(--shadow-dark-color-rgb), 0.11),
    inset 4px 4px 4px rgba(var(--shadow-dark-color-rgb), 0.11),
    inset 8px 8px 8px rgba(var(--shadow-dark-color-rgb), 0.11),
    inset 16px 16px 16px rgba(var(--shadow-dark-color-rgb), 0.11),
    inset 32px 32px 32px rgba(var(--shadow-dark-color-rgb), 0.11);
}

[data-bs-theme="dark"] {
  --shadow-dark-color-rgb: 0, 0, 0;
  --shadow-light-color-rgb: 33, 135, 69;
}

.uc-short-shadow {
  box-shadow: var(--shadow-shorter-double-inner);
}

.img-shadow,
.svg-shadow,
.drop-shadow {
  filter: var(--dropshadow-sharp);
}

.inset-text {
  // background-color: #565656;
  // color: transparent;
  // text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  // -webkit-background-clip: text;
  //    -moz-background-clip: text;
  //         background-clip: text;
  // text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 6px #FFF,
    0px 0px 0px #000,
    1px 1px #fff;
}

.inset-svg {
  color: rgba(0, 0, 0, 0.4);
  filter: drop-shadow(1px 1px white) drop-shadow(1px 1px 6px white) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.3));
}